$font-l:36px;
$font-m:24px;
$font-s:20px;
$font-bold:700;

$dark-green:#00251A;
$light-green:#00CC99;
$medium-green:#016748;
$borderColor:#AAAAAA;

$primaryColor:$light-green;
$secondaryColor:$dark-green;
$hoverColor:$medium-green;